@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

.logo{
    width: 80px;
}
.menu{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}
.navBar{
    width: 100%;
}