.itemList{
    width: 100%;
    height: auto;
    margin-top: 80px;
    background-color: white;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: space-between;
}